.container-fluid {
  background-color: white;
  margin: 10px 0px;
  border-radius: 20px;
}

img {
  /* border: 1px solid var(--bs-secondary-border-subtle);
  border-radius: 50%; */
  width: 200px;
  height: 150px;
  margin: 10px
}

.limitTextHeight {
  max-height: 50px;
  overflow: hidden;
}

.heading p:hover {
  color: blue;
}

mat-card {
  box-shadow: none !important;
  padding: 10px;
  border-radius: 20px;
}

.price {
  display: flex;
  font-size: small;
  justify-content: space-evenly;
}
