
.footer {
  min-height: 100px;
  width: 100%;
  bottom: 0;
  background-color: #343a40;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.footer .container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}

.footer nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 5px;
}

.footer nav a:hover {
  text-decoration: underline;
}
